.btn {
    color: #FFFFFF;
    background-color: #009688;
    border: 1px solid #009688;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #00796B;
    border: 1px solid #00796B;
}

.navbar {
    margin-bottom: 0;
    background-color: #00796B;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

#logo-nav {
    color: #FFFFFF;
}

#logo {
    width: 300px;
    margin: 0 auto;
}

.navbar {
    color: #FFFFFF !important;
}

.navbar li a {
    color: #FFFFFF !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #009688 !important;
    background-color: #FFFFFF !important;
}

.white-line {
    margin: 0  auto;
    height: 1px;
    width: 80%;
    border-bottom: 1px solid #FFFFFF;
}

.navbar .dropdown ul {
    padding: 0;
    border: 0 2px 2px 2px solid #B2DFDB;
}

.navbar .dropdown li {
    height: 50px;
}

.navbar .dropdown li a {
    line-height: 50px;
    color: #FFFFFF !important;
    background-color: #009688 !important;
}

.navbar .dropdown li a:hover, .navbar .dropdown li.active a {
    color: #009688 !important;
    background-color: #FFFFFF !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #FFFFFF !important;
}

.navbar-toggle .icon-bar {
    background-color: #FFFFFF !important;
}

.jumbotron {
    background-color: #009688;
    color: #ffffff;
    padding: 90px 25px 50px 25px;
    margin: 0;
}

.jumbotron #logoMain {
    width: 45%;
    margin: 0 auto;
}

.bg-grey {
    background-color: #f6f6f6;
}

.text-justify {
    text-align: justify;
}

.container-fluid {
    padding: 60px 10%;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#clientes p {
    margin-bottom: 20px;
}

#clientes > .row > div {
    height: 300px;
}

.carousel {
    height: 125px;
}

.carousel-inner > .item > img {
    margin-top: auto;
}

.item {
    height: 125px;
}

.images-clientes img {
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.modal {
    margin: 75px auto;
    height: 85%;
}

.modal .modal-dialog {
    margin: 0 auto;
    width: 85%;
}

.modal .modal-content {
    width: 100%;
}

.modal .modal-body {
    height: 100%;
    overflow: scroll;
}

#equipo {
    margin-bottom: 10px;
}

#equipo img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    margin: 25px auto 20px auto;
}

#equipo div {
    margin-bottom: 40px;
}

#contacto iframe {
    width: 100%;
    height: 500px;
}

.overflow {
    height: 175px;
    overflow: scroll;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #009688;
}

@media (min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
    .jumbotron {
        padding-top: 150px;
    }
    .jumbotron #logoMain {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        padding-top: 100px;
    }
    .jumbotron #logoMain {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    #logoMain {
        width: 10%;
    }
}
